.projects {
    position: relative;
    text-align: center;
    margin: 10vh 0 0 13rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
}

.projects-header {
    color: #C0CAF3;
    font-size: 4rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #0F172A;
    padding-bottom: 5rem;
    padding-top: 0.5rem;
}

.panel img {
    width: 88vw;
    height: 85vh;
}
