.projects {
    position: relative;
    text-align: center;
    margin: 10vh 0 0 13rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.projects-header {
    color: #C0CAF3;
    font-size: 4rem;
    margin: 0 auto 5rem auto;
}

.panel img {
    width: 88vw;
    height: 85vh;
}
